
*{
margin: 0;
padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*Start header*/
header{

	background-color: black;

	font-family: 'Dosis', sans-serif;
  overflow-x: 0;
}



.header_menu{
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.logo{
	width: 20%;
	text-align: center;
}

.logo img{
	height: 75px;
}

.menu_list{
	width: 80%;
	text-align: right;
	padding-right: 50px;
}

.menu_list li{
	display: inline-block;
	text-transform: uppercase;
	list-style: none;
	letter-spacing: 2px;
	padding-left: 50px;

}

.menu_list li a{
	color:rgba(255, 255, 255, .8);
	text-decoration: none;
	padding: 5px 0;
}

.menu_list li a:hover{
	color:#2da9c2;
	border-bottom: 2px solid #2da9c2;
}

a.active,a:hover{
	color:#2da9c2;
	border-bottom: 2px solid #2da9c2;
}
.mobile-icon{display: none;}

/*Header End*/



body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  background: #bfbfbf;
  color: #323232;
}

img {
  max-width: 100%;
}

.icon {
  fill: currentColor;
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
}

a {
  color: #323232;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 960px;
  margin: 40px auto;
  padding: 32px;
  background: #bfbfbf;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
  padding: 24px 0;
  border-bottom: 1px solid lightgrey;
}

section:last-child {
  border-bottom: none;
}

.section-title {
  font-weight: bold;
  font-size: 18px;
}

/***********************************
* =Main Info
***********************************/

img.avatar {
  width: 130px;
}

.my-name {
  font-size: 48px;
  line-height: 1;
}

.my-title {
  font-size: 24px;
  font-weight: 300;
  color: #236FB2;
}

.links {
  display: flex;
  margin: 10px 0 20px 0;
}

.link-item {
  display: flex;
  align-items: center;
  flex: 1;
}

.link-item svg {
  margin-right: 6px;
}

/***********************************
* =Experience
***********************************/

.job {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid lightgrey;
}

.job:last-child {
  border-bottom: none;
}

.job-title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 18px;
}

.job-company {
  font-weight: bold;
  line-height: 1.2;
}

/***********************************
* =Volunteer
***********************************/
.Volunteer {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid lightgrey;
}

.Volunteer:last-child {
  border-bottom: none;
}

.Volunteer-title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 18px;
}

.Volunteer-company {
  font-weight: bold;
  line-height: 1.2;
}

/***********************************
* =Education
***********************************/
.Education {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid lightgrey;
}

.Education:last-child {
  border-bottom: none;
}

.Education-title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 18px;
}

.Education-company {
  font-weight: bold;
  line-height: 1.2;
}

/***********************************
* =Skills
***********************************/

.skills-container {
  display: grid;
  grid-template-columns: 1fr  1fr;
  grid-gap: 20px;
  margin-bottom: 24px;
}

.skills-container ul {
  margin-left: 20px;
  list-style-type: disc;
}

/***********************************
* =Interests
***********************************/

.interests-container {
  display: flex;
  justify-content: space-between;
}

.interests-container img {
  height: 35px;
  opacity: 0.75;
}

/***********************************
* =References
***********************************/

.reference {
  font-size: 18px;
}

.reference-details {
  margin-bottom: 20px;
}

/*Footer	*/
footer{
  padding-top: 0px;
}
.footer-main-div{
	width: 100%;
	height: auto;
	margin: auto;
	background: black;
	padding: 20px 0px;
	opacity: 0.8;
  padding-top: 0px;
}

.footer-social-icon{
	width: 100%;
	height: auto;
	margin: auto;
	color: #fff;
}

.footer-social-icons ul{
	margin: 0px;
	padding: 0px;
	text-align: center;


}

.footer-social-icons ul li{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0px 5px;
	border-radius: 100%;
	background: #20bec9;

}
.footer-social-icons ul li a:hover{
	color: #cc0000;
	text-decoration: none;
}
.footer-social-icons ul li a{
	color: #272727;
	font-size: 25px;
	display: block;
}
.footer-social-icons ul li a i{
	line-height: 50px;
}

.footer-menu-one{
	width: 100%;
	height: auto;
	margin: auto;
	margin-top: 20px;

}

.footer-menu-one ul{
	margin: 0px;
	padding: 0px;
	text-align: center;

}

.footer-menu-one ul li{
	display: inline-block;
	margin: 0px 15px;
}

.footer-menu-one ul li a{
	font-family: 'Dosis', sans-serif;;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-decoration: none;
	padding: 5px 0px;
}
.footer-menu-one ul li a:hover{
	color: #F0F8FF;
}
.footer-menu-one ul li a:hover{
	color: #00cc00;
	border-bottom: 2px solid #00cc00;
}

.footer-bottom{
	width: 100%;
	height: auto;
	margin: auto;
	background: 	 #b3b3b3;
	padding: 10px;
}

.footer-bottom{
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
	text-align: center;
	color: #fff;
	font-weight: 600;
	letter-spacing: 1px;

}

.footer-bottom p{
	color: black;
}
footer{
	width: 100%;
	height: auto;

}



/*//////// Responsive queries //////////*/
@media only screen and (max-width: 1180px) {
	.header_content{
		width: 100%;
		padding: 0, 2px;

	}
}

@media only screen and (max-width: 998px){
	.header_content h1{font-size: 44px;}
	.header_content h2{font-size: 14px;}
}

@media only screen and (max-width: 820px){
  section {
    grid-template-columns: 1fr;
  }

  .links, .job-title-container {
    flex-direction: column;
  }

  .skills-container {
    grid-template-columns: 1fr 1fr;
  }

  .interests-container {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .interests-container img {
    margin-right: 32px;
    margin-bottom: 16px;
  }
  .header_content h1{font-size: 32px;}
	.header_content h2{font-size: 11px;}
	.header_content button{font-size: 10px;}
	.main-nav{display: none;}

	.mobile-icon{
		display: inline-block;
		color: #fff;
		float: right;
		margin-top: 30px;
		margin-top: 20px;
	}

	.main-nav{float: left;}

	.main-nav li{
		display: 	block;
		margin-top: 10px;
	}
}
